#login{
	width:390px;
	text-align: center;
	margin:160px auto;
}
.line1{
	font-family: 'Roboto Slab', serif;
	font-size:72px;
	font-weight:700;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.line2{
	font-family: 'Roboto Slab', serif;
	font-size:64px;
	font-weight:700;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.line3{
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-size: 27px;
	font-weight: 600;
	margin: 11px 0 22px 0;
	letter-spacing: 3px;

}
input[type="text"],input[type="password"]{
	border: none;
	background: #E6E7E8;
	color: #808184;
	padding: 5px 13px;
	width: 274px;
	margin: 0 auto 25px 0;
	height: 35px;
	font-size: 15px;
}
.register{
	display: block;
	padding: 15px;
	width: 100px;
	font-family: 'Open Sans', sans-serif;
	border: none;
	background: #D17821;
	font-size: 14px;
	float: left;
	margin: 0 15px 0 57px;
	height: 16px;
	color: #fff;
}
input[type="submit"]{
	display: block;
	padding: 13px;
	width: 130px;
	font-family: 'Open Sans', sans-serif;
	border: none;
	background: #CBB57C;
	font-size: 14px;
	float: left;
	margin: 0;
	color: #fff;
	height: 46px;
}