/*
Plugin: jQuery Parallax
Version 1.1.3
Author: Ian Lunn
Twitter: @IanLunn
Author URL: http://www.ianlunn.co.uk/
Plugin URL: http://www.ianlunn.co.uk/plugins/jquery-parallax/

License: http://creativecommons.org/licenses/by-sa/3.0/ (Attribution Share Alike). Please attribute work to Ian Lunn simply by leaving these comments in the source code or if you'd prefer, place a link on your website to http://www.ianlunn.co.uk/.
*/

@charset "utf-8";
/* CSS Document */

body{
	margin: 0;
	min-width: 980px;
	padding: 0;
	background:#fff;
}

p{
	margin: 0 0 20px 0;	
}

p, ul{
	font-family:"Proxima Nova Light", 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size-adjust:0.488;
	font-style:normal;
}

img{
	border: 0;
}

h1, #pixels{
	font-family:"Museo 900", Verdana, serif;
	font-size-adjust:0.40;
	font-weight:700;
	font-style:normal;
}

h2{
	font-family:"Beau Sans Pro Book", Verdana, sans-serif;
	font-size-adjust:0.531;
	font-weight:500;
	font-style:normal;
}

#header h1, #pixels{
	color: #48941A;
}

.float-left{
	float: left;	
	margin: 0 0 0 20px;
}

.float-right{
	float: right;
	margin: 0 20px 0 0;
}

.center{
	font-size: 2.5em;
	padding: 80px 0 0 0;
	text-align: center;
}

#nav{
	list-style: none;
	position: fixed;
	right: 20px;
}

#nav li{
	margin: 0 0 15px 0;	
}

#header, #intro, #second{
	width: 100%;
}

#intro{
	background:url(../images/rrc1.jpg) 50% 0 no-repeat fixed;
	color: white;
	height: 911px;
	margin: 0 auto;
	padding: 0;
}
#intro .bg{
	background: url(../images/rrc1title.png) 50% 0 no-repeat fixed;
	height: 911px;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	width:100%;
	z-index: 200;
}
#filler{
	background:url(../images/filler_bg.png) 50% 0 no-repeat fixed;
	color: white;
	height: 500px;
	margin: 0 auto;
	padding:  0 0 0;
}

#second{
	font-weight:bold;
	background: url(../img/why/BigBuzz2.png) 50% 0 no-repeat fixed;
	color: #000;
	height: 900px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	width:100%;
	font-size:20px;
}

#second .bg{
	background: url(../img/why/TNight2021.png) 50% 0 no-repeat fixed;
	height: 900px;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	width: 1100px;
	z-index: 10;
}

#third{
	background: url(../img/why/FreshmanHill2021.png) 50% 0 no-repeat fixed;
	color: white;
	height: 900px;
	padding: 0 0 0;	
}
.spirit{
	padding: 0px 50px 0 50px;
	position: relative;
	width: 840px;	
	font-size:25px;
	margin:0 auto;
}
#third p{
	background: rgba(0, 0, 0, 0.6);;
	padding:10px;
	margin-top:10px;
}
#fourth{
	background: url(../images/rrcgarage.jpg) 50% 0 no-repeat fixed;
	color: white;
	height: 900px;
	padding: 100px 0 0 0;	
}
#fourth p{
	background: rgba(0, 0, 0, 0.6);;
	padding:10px;
	
}
#fifth{
	font-weight:bold;
	background: url(../images/history.jpg) 50% 0 no-repeat fixed;
	color: #000;
	height: 900px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	width:100%;
	font-size:20px;
}
#fifth .hist_top1{
	background: url(../images/history_top1.png) 50% 0 no-repeat fixed;
	height: 900px;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	width:1000px;
	z-index: 200;
}
#fifth .hist_top2{
	background: url(../images/history_top2.png) 50% 0 no-repeat fixed;
	height: 900px;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	width:1000px;
	z-index: 200;
}
#fifth .hist_top3{
	background: url(../images/history_top3.png) 50% 0 no-repeat fixed;
	height: 900px;
	padding: 0;
	position: absolute;
	width:1000px;
	z-index: 100;
	
}
#sixth{
	background: url(../img/why/RRCPolos21.png) 50% 0 no-repeat fixed;
	color: white;
	height: 900px;
	padding: 100px 0 0 0;
}
#sixth p{
	background: rgba(0, 0, 0, 0.6);;
	padding:10px;
	
}
#seventh{
	background: #181818  ;
	margin: 0 auto;
	padding: 0;
	color:#fff;
	font-size:11px;
	padding:1px;
}
.trad{
	background:#fff;
	width:100%;
	height:40px;
	margin:450px auto 0 auto;
}

.story{
	margin: 0 auto;
	min-width: 980px;
	overflow: auto;
	width: 980px;
}

.story .float-left, .story .float-right{
	padding:  0 0 0;
	position: relative;
	width: 350px;	
}
