<div class="container">
    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-3" id="loggedInName">
                <div class="dropdown">
                    <button class="btn btn-outline-primary btn-sm dropdown-toggle" type="button" id="monthDropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <%= user.username %>
                    </button>
                    <div class="dropdown-menu dropdown-menu-left" aria-labelledby="monthDropdownButton">
                        <a class="dropdown-item" href="/users/<%= user.uid %>">Profile</a>
                        <a class="dropdown-item" href="#">Settings</a>
                    </div>
                </div>
            </div>

            <div class="col-6 text-center" id="logo-container">
                <a class="blog-header-logo text-dark" href="/points">Ramblin' Reck Club</a>
            </div>
            <div class="col-3 d-flex justify-content-end align-items-center" id="userOptions">
                <button id="sign-out-button" class="btn btn-sm btn-secondary" type="button">Sign Out</button>
            </div>
        </div>
    </header>
    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
            <a class="p-2" href="/events">Events</a>
            <a class="p-2" href="#">Rankings</a>
            <a class="p-2" href="#">Families</a>
            <a class="p-2" href="http://reckclub.org/mediastorage">Media</a>
            <% if (user.isAdmin) { %>
                <a class="p-2 dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
                <div class="dropdown-menu dropdown-menu-right">
                    <% if (user.isAdmin || user.isEventAdmin) { %>
                    <a class="dropdown-item" href="/events/create">Add Event</a>
                    <% } %>
                    <% if (user.isAdmin) { %>
                    <a class="dropdown-item" href="#">Manage Website</a>
                    <% } %>
                </div>
            <% } %>
        </nav>
    </div>
</div>