<div class="container">
    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="offset-3 col-6 text-center">
                <a class="blog-header-logo text-dark" href="/">Ramblin' Reck Club</a>
            </div>
            <div class="col-3 d-flex justify-content-end align-items-center">
                <a class="btn btn-sm btn-outline-primary" href="http://reckclub.org/points.php">Log In</a>
            </div>
        </div>
    </header>
    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
            <a class="p-2" href="/about">About Us</a>
            <a class="p-2" href="/reck">The Reck</a>
            <a class="p-2" href="/reckruitment">RECKruitment</a>
            <a class="p-2" href="/endowments">Endowments</a>
            <a class="p-2" href="/requests">Requests</a>
            <a class="p-2" href="https://reckclub.ecwid.com">Store</a>
        </nav>
    </div>
</div>