<!DOCTYPE html>
<html>
<%- include partials/head.ejs %>
<link rel="stylesheet" href="/css/nav-scroller.css">
<body>
<%- include partials/public-header.ejs %>
<div class="container">
    <h2 class="mb-3">The Reck</h2>

    <img class="img-responsive mb-3" width="100%" src="/img/promo/2010-reck-freshman-hill.jpg">

    <p class="text-muted">For a deeper dive into the Reck's history, head over to our <a href="/reckhistory">history site</a>!</p>
    <p class="text-muted">To learn more about the Reck's drivers, click <a href="/reck/drivers">here</a>!</p>

    <h4 class="mb-3">Origins</h4>
    <p>The earliest use of the term Ramblin’ Reck dates back to the late 19th and early 20th century. The Ramblin’ Reck with an ‘R’ refers to the vehicle mascot of Georgia Tech, while Ramblin’ Wreck with a ‘W’ refers to a student or the student body (“I’m a Ramblin’ Wreck from Georgia Tech and a helluva engineer.”).</p>

    <p>The song “I’m A Ramblin’ Wreck from Georgia Tech” was first written in 1893 by a Tech football player en route to play the Auburn Tigers. It was written to the music “Son of a Gambolier” by Charles Ives. The first published version of Ramblin’ Wreck came out in the first Blueprint in 1908. The song was titled “What causes Whitlock to Blush” and the words hell and helluva were censored from the lyrics. The final version of Ramblin’ Wreck was written, publicized, and copyrighted in 1919 by Frank Roman.</p>

    <p>The first mechanical mascot Ramblin’ Reck was owned by Dean of Men Floyd Field. Field bought a 1914 Ford Model T Fordor as his first car and would drive the vehicle every day to and from class from 1916 to 1929.</p>

    <p>It was in 1926 that Dean Field’s Tin Lizzie was first nicknamed the Ramblin’ Reck. Field had just finished an overhaul of the vehicle with the aid of the campus machine shop. The student body was concerned that Field would dispose of the Ford but was relieved to find ““Ramblin’ ‘Reck Still On Campus.” Three years later, however, the first Ramblin’ Reck mascot could no longer take the long distance travel of Floyd Field and he disposed of the vehicle to the dismay of the student body. The following 1929 Technique excerpt expressed the student body’s passion for the vehicle:</p>

    <blockquote class="blockquote text-center">
        The car itself was a stimulus to flaggering spirits. What persistence lay in its performance, as year in and year out it hauled the Dean to and from school. Of course its body was not in keeping with the latest styles, or its color one to excite an artist, but what can be more beautiful that faithfulness, who can ask more of machinery other than to have it run.
        <footer class="blockquote-footer"><cite title="Source Title">The Technique on Dean Field's 'Reck', 1929</cite></footer>
    </blockquote>

    <p>In memoriam to the retired Ramblin’ Reck, a race was conducted to Athens. The only requirements of the race were that the car could have no more than 4-cylinders and had to predate 1926. The race was held twice in 1930 and 1931. A police escort followed the lead racers all the way to Lumpkin Street in downtown Athens and the winners were crowned by student staff of the Red and Black u[sic]ga student newspaper.</p>

    <p>After the second race was won by a racer averaging 51 miles per hour, the Tech administration decided to redesign the competition into a more peaceful parade of contraptions. The first Reck Parade was held in 1932 and is still held to this day. The Reck Parade was slightly interrupted by fuel rationing in World War II but was fully restored and retains almost all of the same rules since 1946.</p>

    <h4 class="mb-3">The Modern Reck</h4>

    <p>In the 1940’s and 1950’s, Tech campus became a haven for shoddy, beat-up, and barely running student Recks. It was a rite of passage to own a Ramblin’ Reck. Dean Dull saw this passion for the classic automobile and channeled it into one of his many great endeavors. He went on a full scale search for a new official Ramblin’ Reck mascot. He wanted a pre-World War II Ford that could represent Georgia Tech’s rich engineering heritage.</p>

    <p>After a year of searching, the perfect vehicle was accidentally put at the doorstep of Dean Dull’s Towers Dormitory apartment. An immaculate 1930 Ford Model A Sports Coupe was parked right outside of Towers. The owner was Ted Johnson, Chief Pilot for Delta Airlines out of Atlanta. He and his son, Craig, had restored the vehicle as a father son project. Johnson had taken the Old Ford to Tech campus in the Fall of 1960 to enjoy a track meet. The moment Dean Dull spotted the car he knew that he needed to purchase the vehicle. After several months of persuasion, Dull purchased the car for $1,000 on May 26, 1961.</p>

    <p>The first Georgia Tech representative to drive the vehicle was Ramblin’ Reck Club President Don Gentry. Alongside him was Dekle Rountree, the Student Council Ramblin’ Reck Chairman. Gentry taught his fellow students how to crank start the Model A and gave them some pointers on Model A maintenance.</p>

    <p>Dekle Rountree was the first student to drive the Ramblin’ Reck at a football game. On September 30, 1961, Georgia Tech was playing Rice University. The Ramblin’ Reck rolled onto the field, Don Gentry explained the acquisition of the vehicle to the crowd, and the vehicle became the new Ramblin’ Reck mascot in front of 43,501 Tech faithful. Tech won the game 24-0. Dekle took the Reck to its first road game at Legion Field against Alabama in 1961 and the Reck’s first bowl game in the 1962 Gator Bowl.</p>

    <p>The Ramblin’ Reck’s original caretakers were elected members of the Student Council (now Student Government Association). They were only allowed to drive the Reck if Dean Dull gave them explicit permission in the form of signed Ramblin’ Reck access forms. Then, the Chief of Police would assist the Reck Committee Chariman in retrieving the Reck from its secret Power Plant location.</p>

    <p>One of the most famous incidents in the Reck’s history occurred in 1963 while the Reck was being stored in Neyland Stadium overnight. Tennessee students broke into the garage, painted the car orange, and tore the soft top apart. The Knoxville police provided little help and the Tennessee Athletic Department provided little reparations as they were still slighted about Tech’s 23-7 victory.</p>

    <p>The role of Reck Driver fell into Reck Club’s responsibility as many members of Student Council were also members in Reck Club. The strict discouragement by the Institute of RAT Rules hazing meant that Reck Club needed more wholesome roles on campus. And by 1967, Reck Club was the sole student group in charge of the Ramblin’ Reck.</p>

    <p>The first Georgia Tech paint job was a cheddar cheese gold but in 1973 Tech alumni Pete George took the Model A into the Hapeville Ford Plant and remodeled the entire car. A new Lincoln gold paint job was handpicked by Bobby Dodd and the old wooden shields on the doors were discarded. George and his Hapeville Plant would perform routine maintenance on the car until five years after Pete’s retirement in 1989.</p>

    <p>In the 1970’s, the Ramblin’ Reck traveled as far west as the Sun Bowl victory over Texas Tech and as far north as Notre Dame and Michigan State. Reck Drivers would either freight the Reck by train or trailer the car all the way to their destination. For several seasons, the Reck never missed a game home or away. The notoriety of the vehicle drew some negative attention, however. Navy and u[sic]ga fans attempted to steal or deface the Reck multiple times in the 1970’s. In order to procure the Reck’s safety at Sanford Stadium in 1976, Bobby Dodd threatened u[sic]ga’s athletic director that u[sic]ga would never set foot in Atlanta again, if the Reck were not allowed into Sanford Stadium.</p>

    <p>The first Reck Wedding occurred in 1978. Calvin Johnson (a ’73 Tech alum, not the '00s star football player) asked Dean Dull if it were a possibility to be chauffeured by the Ramblin’ Reck and Dull simply said, “Why not?”</p>

    <p>The ownership of the car changed hands in the 1980’s. The original $1,000 dollar payment was donated back to the Alexander-Tharpe Fund in 1983 by Ted Johnson. Then, in 1987 the Institute acquired the Reck from the Athletic Association for $0. The car was officially under the Dean of Students and became “property of the student body.”</p>

    <p>Several firsts occurred for the Ramblin’ Reck in the 1980’s. Darryl Dykes, the 1983 Driver, was the first Reck Driver to propose to his future wife while actually driving the Reck. Lisa Volmar was the first female Driver, elected in a 1984 Spring election.</p>

    <p>1990 saw Tech athletics reach new heights. Tech went to Denver for its first Final Four appearance in basketball and the Reck was right behind the team. The trip to Denver Coliseum was and still is the furthest the Reck has been from Atlanta. The Reck also followed Tech to Orlando for Tech’s most recent National Title in football. The Reck lead the team onto the field on January 1, 1991 despite the Citrus Bowl officials’ discontent.</p>

    <p>The retirement of Dean Dull in 1992 left the Ramblin’ Reck in complete control of the Ramblin’ Reck Club and the Reck Drivers became the primary caretakers of the Reck. If it broke down, the Drivers would have to fix it themselves or find professionals capable of fixing it. Recently, Reck Drivers have taken the Reck to Washington, D.C. in 1999, the 2004 Final Four in San Antonio, and the 2006 ACC Championship in Jacksonville. The Ramblin’ Reck attempts to be ever present at Institute, student, athletic, and alumni events but is strictly limited by the Reck Driver’s availability. If the Driver is not available, the Reck is not available.</p>

    <p>On June 15, 2007, the Ramblin’ Reck was severely damaged in a trailer accident that left the entire body severely disfigured and the roof smashed in. With only 85 days to restore the totaled Ford before Tech’s home opener, Ramblin’ Reck Club, Georgia Tech, and local businesses united to restore the Ramblin’ Reck.</p>

    <p>Local body shop Awesome Specialists out of Lawrenceville reworked the entire sheet steel body and repainted the car in classic Lincoln gold. The paint and primer was donated by PPG auto paints while a new set of tires was donated by Coker Tires out of Tennessee. Students in the mechanical engineering department repaired or remade several cosmetic details on the Reck with metal provided by Metal Supermarkets of Norcross. Eco Restorations of Austell reupholstered the seats with custom white vinyl featuring stitched 1952 yellow jackets. Eco also remade the entire white soft-top free of charge. The Landau irons were actually donated by University of Idaho official Marty Peterson. He mailed spare parts of his Model A collection from 2,500 miles away.</p>

    <p>The last touches were performed the night before the game. At 7:00 AM on September 8th, 2007, the Ramblin’ Reck was stowed away into the bleachers of Bobby Dodd Stadium. At two minutes and thirty seconds before kickoff, the Ramblin’ Reck burst out of the tunnel to the pleasure of 43,288 screaming Yellow Jacket fans, an attendance eerily similar to its first ever appearance at Bobby Dodd Stadium. The Ramblin’ Reck did not miss its 292nd consecutive home game and completed its 47th season on Grant Field in 2007.</p>
</div>
<%- include partials/footer.ejs %>
<%- include partials/scripts.ejs %>
</body>

</html>