<!DOCTYPE html>
<html>
<%- include partials/head.ejs %>
<link rel="stylesheet" href="/css/nav-scroller.css">
<body>
<%- include partials/public-header.ejs %>
<div class="container">
    <h2 class="mb-3">The T-Book</h2>
    <img class="img-responsive" src="/img/promo/tbooks.jpg">
    <p>The Georgia Tech T-book was originally published by the Georgia Tech YMCA with the intention of providing a guide to the new Tech students about traditions, campus life and history.  This original T-book was published for  more than 65 years and stopped in 1970 due to lack of funding and the lack of partnership between Georgia Tech and its YMCA.</p>

    <p>The T-book was therefore not able to provide freshman with a helping hand until it was revived by the Student publications Board in 1997 as a website that provided an overview of Georgia Tech traditions and history.  The website soon grew out of date, and in 2008 Ramblin’ Reck Club decided to bring the T-book back in its original form.  Since that entering class, every entering freshman has been distributed a T-book at freshman convocation.  In addition to convocation, Reck Club distributes T-books to freshman dorm PL’s as well as to GT 1000 TL’s in an attempt to allow every first year to have access to the handbook.</p>

        <p class="mb-3">The T-book in its modern form has sections which provide an overview of the Ramblin’ Reck, GT history, traditions, Alumni, Fans and Spirit and Athletics.  Finally the T-book has been designed to be a resource to entering RATS by printing the guidelines to filling out RAT caps, the fight songs and a copy of the old RAT rules for those who want to participate.</p>
    <img class="img-responsive mb-3 d-block mx-auto" src="/img/promo/mantle-tbook.jpg">
</div>

<%- include partials/footer.ejs %>
<%- include partials/scripts.ejs %>
</body>

</html>