body {
    font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4 {
    font-family: 'Roboto Slab', serif;
}

.active a, .nav li a:hover {
    color: #B3A369 !important;
}

.jumbotron, .jumbotron-fluid {
    color: white;
    background: #B3A369;
}

.badge-primary {
    background-color: #B3A369;
}

a, .btn-link {
    color: #B3A369;
}

a:hover, .btn-link:hover {
    color: #decc80;
    text-decoration: none;
}

.btn-outline-primary {
    color: #B3A369;
    border-color: #B3A369;
}

.btn.btn-outline-primary.active.focus,
.btn.btn-outline-primary.active:focus,
.btn.btn-outline-primary.active:hover,
.btn.btn-outline-primary:active.focus,
.btn.btn-outline-primary:active:focus,
.btn.btn-outline-primary:active:hover,
.btn.btn-outline-primary:hover{
    background-color: #B3A369 !important;
    border-color: #B3A369 !important;
}

.btn-secondary {
    background-color: #00263A;
    color: white;
    border-color: #00263A;
}

.btn-primary {
    background-color: #B3A369;
    color: white;
    border-color: #B3A369;
}


.btn.btn-primary.active.focus,
.btn.btn-primary.active:focus,
.btn.btn-primary.active:hover,
.btn.btn-primary:active.focus,
.btn.btn-primary:active:focus,
.btn.btn-primary:active:hover,
.btn.btn-primary:hover {
    background-color: #decc80;
    color: white;
    border-color: #decc80;
}

.btn-outline-secondary {
    color: #00263A;
    border-color: #00263A;
}

.btn.btn-outline-secondary.active.focus,
.btn.btn-outline-secondary.active:focus,
.btn.btn-outline-secondary.active:hover,
.btn.btn-outline-secondary:active.focus,
.btn.btn-outline-secondary:active:focus,
.btn.btn-outline-secondary:active:hover,
.btn.btn-outline-secondary:hover {
    background-color: #00263A;
    border-color: #00263A;
}

.btn.btn-secondary.active.focus,
.btn.btn-secondary.active:focus,
.btn.btn-secondary.active:hover,
.btn.btn-secondary:active.focus,
.btn.btn-secondary:active:focus,
.btn.btn-secondary:active:hover,
.btn.btn-secondary:hover {
    background-color: #004e7a;
    color: white;
    border-color: #004E7A;
}

.text-primary {
    color: #B3A369 !important;
}

.text-secondary {
    color: #00263A !important;
}

.blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
    font-family: "Roboto Slab", Georgia, "Times New Roman", serif;
    font-size: 2.25rem;
}